<div class="container mt-4">
    <h5 class="ms-3 my-2">Update Product Type</h5>
    <form class="row" [formGroup]="TypeForm" (ngSubmit)="updateType()">
        <div class="form-group col-6">
            <app-text-input [label]="'Name'" [formControl]="TypeForm.controls['name']"></app-text-input>
        </div>
        <ul class="text-danger list-unstyled" *ngIf="errors">
            <li *ngFor="let error of errors">
                {{error}}
            </li>
        </ul>
        <div>
            <button [disabled]="TypeForm.invalid" class="btn btn-primary" type="submit">Update</button>
            <button  class="mx-2 btn btn-danger" routerLink="/dashboard/product-type-list">Cancel</button>
        </div>
    </form>
</div>
