<div class="mt-4">
    <app-cart-summary [isCart]="false"></app-cart-summary>
</div>
<div class="d-flex justify-content-between flex-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Delivery
    </button>
    <button [disabled]="checkoutForm?.invalid" class="btn btn-primary" (click)="openModal(template)">Submit Order</button>
</div>





















<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Order Payment</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>
            Please proceed to payment gateway
        </p>
        <div id="paypal-button-container"></div>
    </div>
  </ng-template>
