<div class="container mt-4">
    <h5 class="ms-3 my-2">Update Faq</h5>
    <form class="row" [formGroup]="faqForm" (ngSubmit)="updateFaq()">
        <div class="form-group col-6">
            <app-text-input [label]="'Question'" [formControl]="faqForm.controls['question']"></app-text-input>
            <app-text-input [label]="'Answer'" [formControl]="faqForm.controls['answer']"></app-text-input>
            <div class="text-danger" *ngIf="faqForm.get('question')?.hasError('profanity') || faqForm.get('answer')?.hasError('profanity')">
                Please refrain from offensive language.
            </div>
        </div>
        <ul class="text-danger list-unstyled" *ngIf="errors">
            <li *ngFor="let error of errors">
                {{error}}
            </li>
        </ul>
        <div>
            <button [disabled]="faqForm.invalid" class="btn btn-primary" type="submit">Update</button>
            <button  class="mx-2 btn btn-danger" routerLink="/dashboard/faq-list">Cancel</button>
        </div>
    </form>
</div>
