<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <app-stepper [linearModeSelected]="false" #appStepper>
                <cdk-step [label]="'OrderType'" [completed]="checkoutForm.get('orderTypeForm')?.valid">
                    <app-checkout-order-type [checkoutForm]="checkoutForm"></app-checkout-order-type>
                </cdk-step>
                <cdk-step [label]="'Address'" [completed]="checkoutForm.get('addressForm')?.valid">
                    <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
                </cdk-step>
                <cdk-step [label]="'Delivery'" [completed]="checkoutForm.get('deliveryForm')?.valid">
                    <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
                </cdk-step>
                <cdk-step [label]="'Confirm'">
                    <app-checkout-review [checkoutForm]="checkoutForm"></app-checkout-review>
                </cdk-step>
            </app-stepper>
            <i class="fa fa-2x fa-question-circle-o mx-4" (mouseenter)="lgModal.show()"  aria-hidden="true"></i>
        </div>
        <div class="col-4">
            <app-cust-order-totals></app-cust-order-totals>
        </div>
    </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="max-width: 90%; height: 100vh;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left"> Help </h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://docs.google.com/document/d/1cSuGqHKMcwBrrwI5vtctK0PQG7akV_Ss/preview#bookmark=id.c4zfwxxnxkq0"
                style="width:100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
</div>