<!-- <div class="container-fluid">
  <h1 style="margin-left: 130px"> Videos </h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let media of MediaList">
          <div class="card">
            <iframe src="{{media.fileUrl}}"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/SNTtKyGgqUo?si=rr8PEOiFlTADntD3"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="card-body">
              <h5 class="card-title">{{media.name}}</h5>
              <p class="card-text">{{media.description}}</p>
            </div>
          </div>
        </div>
    </div>
</div> -->

<div class="container-fluid">
  <div class="wave"></div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-image" style="background-image: url('../../assets/images/campfire.jpg');">
                <div class="card-title-overlay">
                    <h2 class="card-title about">OUR PURPOSE</h2>
                </div>
            </div>
            <div class="card-body text-center" >
                <h3 class="section-title">OUR PURPOSE</h3>
                <p class="card-text-placeholder us">Hover to Read More</p>
                <p class="card-text us">Elephants, Rhinos & People (ERP) protects Southern Africa’s wild elephants and rhinos by helping to alleviate poverty in rural communities adjacent to threatened elephant and rhino populations. We also implement tactical interventions to combat the poaching problem, such as sustainable alternatives as a source of community income, elephant relocations and drought relief programs.</p>
            </div>
        </div>
    </div>

      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-image" style="background-image: url('../../assets/images/educate.png');">
            <div class="card-title-overlay">
              <h2 class="card-title about">EDUCATE</h2>
            </div>
          </div>
          <div class="card-body text-center" >
            <h3 class="section-title">EDUCATE</h3>
            <p class="card-text-placeholder us">Hover to Read More</p>
            <p class="card-text us">We strive to educate children about the importance of Elephants and Rhinos conservation. Through educational ERP-themed activities and games, including coloring pages, arts and crafts, word searches and puzzles, typically suitable for ages 3 to 11, depending on the activity.</p>
        </div>
        </div>
      </div>



      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-image" style="background-image: url('../../assets/images/protect.png');">
            <div class="card-title-overlay">
              <h2 class="card-title about">PROTECT</h2>
            </div>
          </div>
          <div class="card-body text-center" >
            <h3 class="section-title">PROTECT</h3>
            <p class="card-text-placeholder us">Hover to Read More</p>
            <p class="card-text us">Human-wildlife co-existence, and wildlife security programmes, protect people from wildlife - and wildlife from people.</p>
        </div>
        </div>
      </div>


      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-image" style="background-image: url('../../assets/images/support.png');">
            <div class="card-title-overlay">
              <h2 class="card-title about">EMPOWER</h2>
            </div>
          </div>
          <div class="card-body text-center" >
            <h3 class="section-title">EMPOWER</h3>
            <p class="card-text-placeholder us">Hover to Read More</p>
            <p class="card-text us">We support local communities by promoting employment and small businesses, reducing reliance on natural resources. Our curated selection includes unique, handmade products and high-quality gifts for various occasions.</p>
        </div>
        </div>
      </div>

      <!-- <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-image" style="background-image: url('../../assets/images/educate.png');">
            <div class="card-title-overlay">
              <h2 class="card-title about">EDUCATE</h2>
            </div>
          </div>
          <div class="card-body text-center" >
            <h3 class="section-title">EDUCATE</h3>
            <p class="card-text-placeholder us">Hover to Read More</p>
            <p class="card-text us">We strive to educate children about the importance of Elephants and Rhinos conservation. Through educational ERP-themed activities and games, including coloring pages, arts and crafts, word searches and puzzles, typically suitable for ages 3 to 11, depending on the activity.</p>
        </div>
        </div>
      </div> -->


    </div>
  </div>
</div>
<br>
<br>
<br>
<app-footer></app-footer>


