
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 100%; /* Make all cards the same height */
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-image {
    background-size: cover;
    background-position: center;
    cursor: pointer;
    height: 300px; /* Adjust the image height as needed */
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden; /* Hide image overflow */
}

/* Add this class to style the "Read More" placeholder text */
.card-text-placeholder {
    font-style: italic;
    color: #aaa;
}

/* Add this to hide the actual description by default */
.card-text.us {
    display: none;
}

/* Show the description when the card is hovered */
.card:hover .card-text-placeholder {
    display: none;
}

.card:hover .card-text.us {
    display: block;
}


.card-title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    border-radius: 30px 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s;
}

.card:hover .card-title-overlay {
    opacity: 1; /* Show the overlay on hover */
}

.card-title.about {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.card-text.us {
    color: #333;
    padding: 20px;
    opacity: 0;
    transform: translateY(20px); /* Initial downward animation */
    transition: opacity 0.2s, transform 0.2s;
}

.card:hover .card-text.us {
    opacity: 1; /* Fade in the text on hover */
    transform: translateY(0); /* Move the text upward on hover */
}

/* Center the text vertically in the card body */
.card-body {
    position: relative;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}