<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
        <div class="col">
          <div class="card bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">Total Sales</h5>
              <p class="card-text"> {{dashboardData?.totalSales | currency:"R"}}</p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-body">
                <h5 class="card-title">Items Sold</h5>
                <p class="card-text"> {{dashboardData?.totalItemsSold}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-body">
                <h5 class="card-title">Pending Supplier Orders</h5>
                <p class="card-text"> {{dashboardData?.pendingSupplierOrders}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-body">
                <h5 class="card-title">Active Users</h5>
                <p class="card-text"> {{dashboardData?.activeUsers}}</p>
              </div>
            </div>
          </div>
    </div>
    <div class="row mt-2">
        <div class="col-8">
            <h2> Sales to be Dispatched <i class="fa fa-lg fa-question-circle-o" (mouseenter)="lgModal.show()"  aria-hidden="true"></i></h2>
            <div id="divChart">
              <canvas id="myChart"></canvas>
            </div>
            <div class="row" *ngIf="orders.length <= 0">
                <p> There are currently no orders on the system. </p>
            </div>
        </div>
        <div class="col-4" *ngIf="Report">
            <h2> Top Products </h2>
            <div *ngFor="let label of Report?.labels; let i = index">
                <h5><strong>{{ i + 1}} {{ label }} - {{Report.data[i]| currency:"R"}}</strong></h5>
                <progressbar  [striped]="true" [animate]="true" [max]="Total"  [value]="Report.data[i]" type="danger"></progressbar>
            </div>

            <div class="row" *ngIf="Report.labels.length <= 0">
                <p> There are currently no products sold yet. </p>
            </div>
        </div>
    </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="max-width: 90%; height: 100vh;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left"> Help </h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://docs.google.com/document/d/1cSuGqHKMcwBrrwI5vtctK0PQG7akV_Ss/preview#bookmark=id.fwlaee5fmq7q"
                style="width:100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
</div>
