<div class="container">
    <div *ngIf="(wishlistService.wishlistSource$ | async) === null">
        <p> There are no items in your wishlist</p>
    </div>
    <ng-container *ngIf="(wishlistService.wishlistSource$ | async) as wishlist">
        <div>
            <div class="row mt-2 mb-2 align-items-center">
                <i class="fa fa-2x fa-question-circle-o mx-4" (mouseenter)="lgModal.show()"  aria-hidden="true"></i>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-uppercase">
                            <tr>
                                <th><div class="py-2">Product</div></th>
                                <th><div class="py-2">Price</div></th>
                                <th><div class="py-2">Remove</div></th>
                                <th><div class="py-2">Add to Cart</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of wishlist.items">
                                    <div class="p-2 d-inline-block">
                                        <img src="{{item.pictureUrl}}" alt="{{item.productName}}" style="max-height: 50px;"class="img-fluid">
                                        <div class="ms-3 d-inline-block align-middle">
                                            <h5 class="mb-0"> 
                                                <a routerLink="/shop/{{item.id}}" class="text-dark text-decoration-none">
                                                    {{item.productName}}
                                                </a>
                                            </h5>
                                            <span class="text-muted font-italic">
                                                Category: {{item.category}}
                                            </span>
                                        </div>
                                    </div>
                                
                                <td class="align-middle"><strong>{{item.price | currency: "R"}}</strong></td>
                                <td class="align-middle">
                                        <button type="button" class="btn px-2 py-2" style="background-color: #958F8A;"><a><i (click)="removeItem(item.id)" class="fa fa-trash" style="font-size: 2em; cursor: pointer; color: white;"></i></a></button>
                                </td>
                                <td class="align-middle">                                 
                                        <button type="button" class="btn px-2 py-2" style="background-color: #958F8A;"><a><i (click)="addItemToCart(item, item.id)" class="fa fa-cart-plus" style="font-size: 2em; cursor: pointer; color: white;" ></i></a></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <!-- <app-cust-order-totals></app-cust-order-totals> -->
                    <div class="d-grid">
                        <a routerLink="/cart" class="btn btn-outline-primary py-2">
                            View Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>


<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="max-width: 90%; height: 100vh;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left"> Help </h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://docs.google.com/document/d/1cSuGqHKMcwBrrwI5vtctK0PQG7akV_Ss/preview#bookmark=id.2996m176o79a"
                style="width:100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
</div>

