<footer class="footer text-center text-white" style="background-color: #6B6B6B; max-height: 152px;">
    <div class="container p-4 pb-0" >
      <section class="mb-4">
        <a class="m-1" style="cursor: pointer;" href="https://www.facebook.com/erp.redux"><i style="color:white" class="fa fa-lg fa-brands fa-facebook"></i></a>

        <a class="m-1" style="cursor: pointer;" href="https://www.instagram.com/erp.redux/"><i style="color:white" class="fa fa-lg fa-brands fa-instagram"></i></a>

        <a class="m-1" style="cursor: pointer;" href="https://twitter.com/erp_redux"><i style="color:white" class="fa fa-lg fa-brands fa-twitter"></i></a>
        
        <a class="m-1" style="cursor: pointer;" href="https://www.youtube.com/@GroupElephant"><i style="color:white" class="fa fa-lg fa-brands fa-youtube"></i></a>

        <a class="m-1" style="cursor: pointer;" href="https://www.erp.ngo"><i style="color:white" class="fa fa-lg fa-regular fa-globe"></i></a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: #383838">
        <p style="margin-bottom: 0px;">
            Copyright 2023 © ERP    |    All rights reserved    |    A member of <a style="color: white;" href="https://www.groupelephant.com/">groupelephant.com</a>
        </p>
    </div>
  </footer>
