<footer class="footer_area">
    <div class="container">
      <div class="row">				
        <div class="col-md-4 col-sm-6">
          <div class="single_ftr">
            <h4 class="sf_title">Contact </h4>
            <ul>
              <li>46 Ingersol Road, Lynwood Glen <br> Pretoria, Gauteng 0081 <br> South Africa</li>
              <li>Tel: + 27 12 004 8273 </li>
              <li>info@epiuse.com</li>
            </ul>
          </div>
        </div> <!--  End Col -->
        
        <div class="col-md-4 col-sm-6">
          <div class="single_ftr">
            <h4 class="sf_title">Information</h4>
            <ul>
              <li><a routerLink="/aboutus">About Us</a></li>
              <li><a href="#">Delivery Information</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Site Map</a></li>
              <li><a routerLink="/account/faqs">FAQ's</a></li>
            </ul>
          </div>
        </div> <!--  End Col -->
        
        <div class="col-md-4 col-sm-6">
          <div class="single_ftr">
            <h4 class="sf_title">Services</h4>
            <ul>
              <li><a routerLink="/cart">Cart</a></li>
              <li><a routerLink="/wishlist">Wish List</a></li>
              <li><a routerLink="/account">My Account</a></li>
              <li><a routerLink="/account/orders">Order History</a></li>
              <li><a routerLink="/aboutus">Blogs</a></li>
            </ul>
          </div>
        </div> <!--  End Col -->	
      </div>
    </div>

  
    <div class="ftr_btm_area">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="ftr_social_icon">
              <ul>
                <a class="m-1" style="cursor: pointer;" href="https://www.facebook.com/erp.redux"><i style="color:white" class="fa fa-lg fa-brands fa-facebook"></i></a>
                <a class="m-1" style="cursor: pointer;" href="https://www.instagram.com/erp.redux/"><i style="color:white" class="fa fa-lg fa-brands fa-instagram"></i></a>
                <a class="m-1" style="cursor: pointer;" href="https://twitter.com/erp_redux"><i style="color:white" class="fa fa-lg fa-brands fa-twitter"></i></a>
                <a class="m-1" style="cursor: pointer;" href="https://www.youtube.com/@GroupElephant"><i style="color:white" class="fa fa-lg fa-brands fa-youtube"></i></a>
                <a class="m-1" style="cursor: pointer;" href="https://www.erp.ngo"><i style="color:white" class="fa fa-lg fa-regular fa-globe"></i></a>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <p class="copyright_text text-center"> Copyright 2023 © ERP    |    All rights reserved    |    A member of <a style="color: white;" href="https://www.groupelephant.com/">groupelephant.com</a></p>
          </div>
        </div>

        
      </div>
    </div>
  </footer>