<div class="container mt-4">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center pb-2">
            <div class="d-flex mt-2">
                <button class="btn" style="background-color: #958F8A; color: white;" routerLink="/dashboard/Media/add">Add Media Item</button>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center pb-2">
            <app-paging-header [totalCount]="totalCount" [pageNumber]="specParams.pageNumber" [pageSize]="specParams.pageSize"></app-paging-header>
            <div class="d-flex mt-2">
                <input (keyup.enter)="onSearch()" type="text" placeholder="Search" class="form-control" #search>
                <button class="btn mx-2" style="background-color: #958F8A; color: white;" (click)="onSearch()" >Search</button>
                <button style="background-color: #958F8A; color: white;" (click)="onReset()" class="btn mx-2">Reset</button>
                <select class="form-select mx-2"   (change)="onSortSelected($event)">
                    <option *ngFor="let sort of sortOptions" [value]="sort.value"> 
                        {{sort.name}}
                    </option>
                </select>
            </div>
        </div>
        <div *ngIf="MediaList.length <= 0" class="row">
            <p> There are currently no Media Items on the system </p>
        </div>
        <div class="table-responsive" *ngIf="MediaList.length > 0">
            <table class="table">
                <thead class="text-uppercase">
                    <tr>
                        <th><div class="py-2">Name</div></th>
                        <th><div class="py-2">Description</div></th>
                        <th><div class="py-2">View</div></th>
                        <th><div class="py-2">Delete</div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let media of MediaList">
                        <td class="align-middle"><strong>{{media.name}}</strong></td>
                        <td class="align-middle"><strong>{{media.description}}</strong></td>
                        <td class="align-middle">
                            <button routerLink="/dashboard/Media/{{media.id}}" type="button" class="btn px-2 py-2" style="background-color: #676767; color:white"><i class="fa fa-edit align-middle" style="font-size: 2em; cursor: pointer; color: white;"></i> View</button>
                        </td>
                        <td class="align-middle">                                 
                            <button type="button" class="btn px-2 py-2" style="background-color: #676767;"><a  style="text-decoration: none; color: white; font-weight:lighter;" (click)="openModal(template)"><i class="fa fa-trash align-middle" style="font-size: 2em; cursor: pointer; color: white;" ></i> Delete </a></button>
                        </td>
                        <ng-template #template>
                            <div class="modal-header">
                              <h4 class="modal-title pull-left">Delete Media Item</h4>
                              <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                                <span aria-hidden="true" class="visually-hidden">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body text-danger">
                                <p>
                                    Are you sure you want to delete this Media Item? This action cannot be undone.
                                </p>
                              <button type="button" class="btn btn-danger" (click)="deleteMedia(media.id)">Delete Media Item</button>
                            </div>
                          </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-end" *ngIf="totalCount > 0" >
        <app-pager [totalCount]="totalCount" [pageSize]="specParams.pageSize" (pageChanged)="onPageChanged($event)"></app-pager>
    </div>
</div>
