<div class="container mt-4">
    <div class="row">
        <form [formGroup]="gbForm" class="form-group col-6">
            <h5 class="my-2">GiftBox Details</h5>
            <img class="form-control mb-3 p-0" src='{{giftbox?.giftBoxImage}}' style="max-height: 150px; width: 150px; object-fit: cover;">
            <app-text-input [label]="'Name'" [formControl]="gbForm.controls['name']"></app-text-input>
            <app-text-input [label]="'Description'" [formControl]="gbForm.controls['description']"></app-text-input>
            <app-text-input type="number" [label]="'Price'" [formControl]="gbForm.controls['price']"></app-text-input>
            <app-text-input type="number" [label]="'Packaging Costs'" [formControl]="gbForm.controls['packagingCosts']"></app-text-input>
            <label for="floatingInput">Giftbox Image</label>
            <app-text-input (change)="uploadFile($event)"  type="file" accept="image/*" [formControl]="gbForm.controls['giftBoxImage']"></app-text-input>
            <label for="floatingInput">Giftbox Products</label>
            <div class="table-responsive" *ngIf="gbproducts.length > 0">
                <table class="table table-hover">
                    <thead class="text-uppercase">
                        <tr>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of gbproducts">
                            <td class="align-middle"><img src='{{product.pictureUrl}}' class="img-fluid bg-info" style="max-height: 50px;"></td>
                            <td class="align-middle">{{product.name}}</td>
                            <td class="align-middle">
                                <button (click)="removeProdToGiftbox(product.id)" class="btn btn-sm mx-1" style="background-color: #676767; color:white"><i class="fa fa-edit align-middle" style="cursor: pointer; color: white;"></i> Remove </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="gbproducts.length <= 0">
                <p class="text-info">There are currently no products in the GiftBox</p>
            </div>
            <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors">
                    {{error}}
                </li>
            </ul>
            <div>
                <button [disabled]="gbForm.invalid || gbproducts.length <= 0"  class="btn btn-primary" (click)="updateGiftbox()">Update</button>
                <!-- <button (click)="openModal(template)"  class="ms-2 btn btn-danger" >Delete</button> -->
                <button  class="mx-2 btn btn-danger" routerLink="/dashboard/giftbox-list">Cancel</button>
            </div>
        </form>
        <div class="col-6">
            <h5 class="my-2">Store Products</h5>
            <div class="d-flex my-1">
                    <input (keyup.enter)="onSearch()" type="text" placeholder="Search" class="form-control form-control-sm" #search>
                    <button type="button" class="btn btn-sm mx-2" style="background-color: #958F8A; color: white;" (click)="onSearch()" >Search</button>
                    <button type="button" style="background-color: #958F8A; color: white;" (click)="onReset()" class="btn mx-2 btn-sm">Reset</button>
                    <select class="form-select mx-2 form-control-sm" style="max-width: 40px; min-width: none;"  (change)="onSortSelected($event)">
                        <option *ngFor="let sort of sortOptions" [value]="sort.value"> 
                            {{sort.name}}
                        </option>
                    </select>
            </div>
            <div class="table-responsive" *ngIf="products.length > 0">
                <table class="table table-hover">
                    <thead class="text-uppercase">
                        <tr>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td class="align-middle"><img src='{{product.pictureUrl}}' class="img-fluid bg-info" style="max-height: 50px;"></td>
                            <td class="align-middle"><strong>{{product.name}}</strong></td>
                            <td class="align-middle">
                                <button type="button" (click)="addProdToGiftbox(product.id)" class="btn btn-sm mx-1" style="background-color: #676767; color:white"><i class="fa fa-edit align-middle" style="cursor: pointer; color: white;"></i> Add </button>
                                <button type="button" routerLink="/dashboard/product-details/{{product.id}}" class="btn btn-sm mx-1" style="background-color: #676767; color:white"><i class="fa fa-edit align-middle" style="cursor: pointer; color: white;"></i> View </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end" *ngIf="totalCount > 0" >
            <app-pager [totalCount]="totalCount" [pageSize]="shopParams.pageSize" (pageChanged)="onPageChanged($event)"></app-pager>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete GiftBox</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body text-danger">
        <p>
            Are you sure you want to delete this GiftBox? This action cannot be undone.
        </p>
      <button type="button" class="btn btn-danger" (click)="deleteGiftbox()">Delete GiftBox</button>
    </div>
  </ng-template>