<div class="container mt-4">
    <h5 class="ms-3 my-2">Add Media <i class="fa fa-lg fa-question-circle-o " (mouseenter)="lgModal.show()"  aria-hidden="true"></i></h5>
    <form class="row" [formGroup]="mediaForm" (ngSubmit)="addMedia()">
        <div class="form-group col-6">
            <app-text-input [label]="'Name'" [formControl]="mediaForm.controls['name']"></app-text-input>
            <app-text-input [label]="'Description'" [formControl]="mediaForm.controls['description']"></app-text-input>
            <app-text-input [label]="'URL'" [formControl]="mediaForm.controls['fileUrl']"></app-text-input>
        </div>
        <ul class="text-danger list-unstyled" *ngIf="errors">
            <li *ngFor="let error of errors">
                {{error}}
            </li>
        </ul>
        <div>
            <button [disabled]="mediaForm.invalid" class="btn btn-primary" type="submit">Add</button>
            <button  class="mx-2 btn btn-danger" routerLink="/dashboard/Media">Cancel</button>
        </div>
    </form>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="max-width: 90%; height: 100vh;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left"> Help </h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://docs.google.com/document/d/1s4wAIvBhuZ0F4lbURlFzt9WxGDH2YSvi/preview#bookmark=id.1z5f6frfpve0"
                style="width:100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
</div>
