.content-container {
    margin-left: 290px; /* Width of the side menu */
  }


#divChart{
    display: block;
    width: 400px;
    height: 400px;
}

ul.list-group {
    border-radius: 0;
}

li.list-group-item {
    border: 0;
    color: black;
    background-color: #f7f7f9;
}

li.list-group-item.active {
    color: black;
}

li.list-group-item:hover{
    background-color: #6B6B6B;
    color: white;
}

/*Section for table styling*/
table{
    width: 100%;
    color: black;
    font-family:'Inter';
  }
  th,tr{
      font-family:'Inter';
      color: black;
      padding-top: 0px;
      padding-bottom: 0px;
  }
  th{
      font-weight: bold;
      background-color: #D5C9B7;
  }
  tr{
      background-color: #F8F9FA;
  }