<div class="container mt-4">
    <div class="row">
        <div  class="d-flex flex-column align-items-center justify-content-center">
            <div class="row">
                <i *ngIf="order?.status != 'PaymentFailed'" class="fa fa-check-circle-o fa-5x" aria-hidden="true"></i>
                <i *ngIf="order?.status == 'PaymentFailed'" class="fa fa-times-circle-o fa-5x" aria-hidden="true"></i>
            </div>
            <p *ngIf="order?.status == 'Pending'" class="text"> Pending </p>
            <p *ngIf="order?.status == 'PaymentConfirmed'" class="text"> PaymentConfirmed </p>
            <p *ngIf="order?.status == 'Dispatched'" class="text"> Dispatched </p>
            <p *ngIf="order?.status == 'ReadyForCollection'" class="text"> ReadyForCollection </p>
            <p *ngIf="order?.status == 'PaymentFailed'" class="text"> ReadyForCollection </p>
        </div>
    </div>
    <div class="container">
        <button class="btn btn-sm mx-1" style="background-color: #676767; color:white" (click)="printInvoice()">Print Invoice </button>
    </div>
    <div class="row">
        <div class="col-6">
            <div>
                <h5 class="my-2">Order Details</h5>
                <p>Date:{{order?.orderDate | date}}</p>
                <p>Customer Name: {{order?.shipToAddress?.firstName}} {{order?.shipToAddress?.lastName}}</p>
                <p>Customer Email: {{order?.customerEmail}}</p>
                <p>Street Address: {{order?.shipToAddress?.streetAddress}}</p>
                <p>Complex Name: {{order?.shipToAddress?.complexName}}</p>
                <p>Suburb: {{order?.shipToAddress?.suburb}}</p>
                <p>City: {{order?.shipToAddress?.city}}</p>
                <p>Province: {{order?.shipToAddress?.province}}</p>
                <p>PostalCode: {{order?.shipToAddress?.postalCode}}</p>
                <p>Delivery Method: {{order?.deliveryMethod}}</p>
                <p *ngIf="!order?.shipToAddress?.trackingNumber && order?.orderType == 'Delivery'">Tracking Number: N/A</p>
                <p *ngIf="order?.shipToAddress?.trackingNumber && order?.orderType == 'Delivery'">Tracking Number: {{order?.shipToAddress?.trackingNumber}}</p>
                <p>Subtotal (Vat Inclusive): {{order?.subTotal | currency: "R"}}</p>
                <p>Vat: {{order?.vat?.percentage}}%</p>
                <p>Shipping Price: {{order?.shippingPrice | currency: "R"}}</p>
                <p style="color: red">Promotions Total: {{order?.savings | currency: "R"}}</p>
                <p style="color: red">Group Elephant Discount: {{order?.groupElephantDiscount}}%</p>
                <p>Total: {{order?.total | currency: "R"}}</p>
            </div>
            <button  class="mx-2 btn btn-primary" routerLink="/account">Back</button>
        </div>
        <div class="col-6">
            <h5 class="my-2">Ordered Products</h5>
            <div class="table-responsive" *ngIf="order?.orderItems">
                <table class="table table-hover">
                    <thead class="text-uppercase">
                        <tr>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Promotion</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order?.orderItems">
                            <td class="align-middle"><img src='{{item.pictureUrl}}' class="img-fluid bg-info" style="max-height: 50px;"></td>
                            <td class="align-middle"><strong>{{item.productName}}</strong></td>
                            <td class="align-middle"><strong>{{item.quantity}}</strong></td>
                            <td class="align-middle"><strong>{{item.price| currency: "R"}}</strong></td>
                            <td class="align-middle" style="color: red"><strong>{{(item.promotion/100) * item.price | currency: "R"}}</strong></td>
                            <td class="align-middle">
                                <button type="button" routerLink="/shop/{{item.productId}}" class="btn btn-sm mx-1" style="background-color: #676767; color:white"><i class="fa fa-edit align-middle" style="cursor: pointer; color: white;"></i> View </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="align-middle"><strong>Subtotal (Vat Inclusive) </strong></td>
                            <td colspan="2" class="align-middle"><strong>{{order?.subTotal | currency: "R"}}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="align-middle"><strong>Vat</strong></td>
                            <td colspan="2" class="align-middle"><strong>{{order?.vat?.percentage}}%</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="align-middle"><strong>Delivery Price</strong></td>
                            <td colspan="2" class="align-middle"><strong>{{order?.shippingPrice | currency: "R"}}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="align-middle" style="color: red"><strong>Promotions Total</strong></td>
                            <td colspan="2" class="align-middle" style="color: red"><strong>{{order?.savings | currency: "R"}}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="align-middle" style="color: red"><strong>Group Elephant Discount</strong></td>
                            <td colspan="2" class="align-middle" style="color: red"><strong>{{order?.groupElephantDiscount}}%</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="align-middle"><strong>Total</strong></td>
                            <td colspan="2" class="align-middle"><strong>{{order?.total | currency: "R"}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
