<!-- <div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="mb-3">Login</h1>
            </div>
            <app-text-input [formControl]="loginForm.controls['email']" [label]="'Email Address'"></app-text-input>
            <app-text-input [formControl]="loginForm.controls['password']" [type]="'password'" [label]="'Password'"></app-text-input>
            <p><a (click)="openModal(template)" style="text-decoration: underline;">Forgot Password?</a></p>
            <div class="d-grid">
              <button [disabled]="loginForm.invalid"class="btn btn-primary" type="submit">Sign In</button>
            </div>
            <p>Don't have an account? <a routerLink="/account/register">Register here</a></p>
        </form>
    </div>
</div> -->



<div class="container" id="container" style="margin-top: 100px;" >
  <div class="form-container log-in-container" >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <br><i class="fa fa-lg fa-question-circle-o " (mouseenter)="lgModal.show()"  aria-hidden="true"></i>
        <h1>Login</h1>
      </div>
      <app-text-input [formControl]="loginForm.controls['email']" [label]="'Email Address'"></app-text-input>
      <app-text-input [formControl]="loginForm.controls['password']" [type]="'password'" [label]="'Password'"></app-text-input>
      <p><a (click)="openModal(template)" style="text-decoration: underline;">Forgot Password?</a></p>
      <div class="d-grid">
        <button [disabled]="loginForm.invalid"class="btn btn-primary" type="submit">Sign In</button>
      </div>
      <p>Don't have an account? <a routerLink="/account/register" style="color: rgba(0, 102, 255, 0.486);">Register here</a></p>
    </form>
  </div>
  <div class="overlay-container">
    <!-- <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>HTML CSS Login Form</h1>
        <p>This login form is created using pure HTML and CSS. For social icons, FontAwesome is used.</p>
      </div>
    </div> -->
    <img src="../assets/images/giftbox1.jpg" alt="Login image" class="login-image">
  </div>
</div>
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Forgot Password<i class="fa fa-lg fa-question-circle-o " (mouseenter)="lgModal.show()"  aria-hidden="true"></i></h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>
            Please enter your email address
        </p>
        <app-text-input [formControl]="forgotPasswordForm.controls['email']" [label]="'Email Address'"></app-text-input>
      <button [disabled]="forgotPasswordForm.invalid" type="submit" class="btn btn-primary" (click)="forgotPassword()">Submit</button>
    </div>
  </ng-template>


  <!-- Login Help Book Mark -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="max-width: 90%; height: 100vh;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left"> Help </h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://docs.google.com/document/d/1s4wAIvBhuZ0F4lbURlFzt9WxGDH2YSvi/preview#bookmark=id.hfy779ciexbv"
                style="width:100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
</div>

  <!-- Forgot Password Book Mark -->
  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
  role="dialog" aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog modal-lg" style="max-width: 90%; height: 100vh;">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 id="dialog-sizes-name1" class="modal-title pull-left"> Help </h4>
                  <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                  </button>
              </div>
              <div class="modal-body" style="height: 80vh">
                  <iframe src="https://docs.google.com/document/d/1s4wAIvBhuZ0F4lbURlFzt9WxGDH2YSvi/preview#bookmark=id.h8y3z5jd6r5o"
                  style="width:100%; height:100%;"></iframe>
              </div>
          </div>
      </div>
  </div>