<div class="container mt-4">
    <h5 class="ms-3 my-2">Reset Password</h5>
    <form class="row" [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
        <div class="form-group col-6">
            <app-text-input [label]="'New Password'" [type]="'password'" [formControl]="passwordForm.controls['oldPassword']"></app-text-input>
            <app-text-input [label]="'Confirm Password'"  [type]="'password'" [formControl]="passwordForm.controls['newPassword']"></app-text-input>
        </div>
    
        <ul class="text-danger list-unstyled" *ngIf="errors">
            <li *ngFor="let error of errors">
                {{error}}
            </li>
        </ul>
        <div>
            <button [disabled]="passwordForm.invalid" class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>


