<h5 class="my-2">Personal Details</h5>
<form class="row" [formGroup]="DetailsForm" *ngIf="accountService.currentUser$ | async as user" (ngSubmit)="updateUserDetails()">
    <div class="form-group col-6">
        <ng-container *ngIf="user != null">
            <img class="form-control mb-2 p-0" src="{{user.profilePicture}}" style="max-height: 150px; width: 150px; object-fit: cover;">
        </ng-container>
        <app-text-input [label]="'Display Name'" [formControl]="DetailsForm.controls['displayName']"></app-text-input>
        <app-text-input [label]="'Email'" type="email" [formControl]="DetailsForm.controls['email']"></app-text-input>
        <label for="floatingInput">Profile Picture</label>
        <app-text-input [accept]="'image/*'" type="file" (change)="uploadFile($event)" [formControl]="DetailsForm.controls['profilePicture']" ></app-text-input>
    </div>
    <ul class="text-danger list-unstyled my-2" *ngIf="errors">
        <li *ngFor="let error of errors">
            {{error}}
        </li>
    </ul>
    <div>
        <button [disabled]="DetailsForm.invalid" class="btn btn-primary my-2" type="submit">Update</button>
    </div>
</form>
