<div class="container mt-4">
    <div class="row">
        <form class="col-6" [formGroup]="returnForm" (ngSubmit)="logReturn()">
            <h5 class="ms-3 my-2">Log Return <i class="fa fa-lg fa-question-circle-o " (mouseenter)="lgModal.show()"  aria-hidden="true"></i></h5>
            <app-text-input [label]="'Manager Email'" [formControl]="returnForm.controls['managerEmail']"></app-text-input>
            <app-text-input [label]="'Description'" [formControl]="returnForm.controls['description']"></app-text-input>
            <app-text-input [label]="'Supplier Order ID'" [type]="'number'" [formControl]="returnForm.controls['supplierOrderId']"></app-text-input>
            <label for="floatingInput">Return Log</label>
            <div class="table-responsive" *ngIf="ReturnProducts!.length > 0">
                <table class="table table-hover">
                    <thead class="text-uppercase">
                        <tr>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of ReturnProducts">
                            <td class="align-middle"><img src='{{product.pictureUrl}}' class="img-fluid bg-info" style="max-height: 50px;"></td>
                            <td class="align-middle">{{product.productName}}</td>
                            <td class="align-middle">{{product.price}}</td>
                            <td class="align-middle">{{product.quantity}}</td>
                            <td class="align-middle">
                                <button (click)="removeProdFromLog(product.productId)" class="btn btn-sm mx-1" type="button" style="background-color: #676767; color:white"><i class="fa fa-edit align-middle" style="cursor: pointer; color: white;"></i> Remove </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="ReturnProducts!.length <= 0">
                <p class="text-info">There are currently no products in the Return Log</p>
            </div>
            <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors">
                    {{error}}
                </li>
            </ul>
            <div>
                <button [disabled]="returnForm.invalid || ReturnProducts!.length <= 0" class="btn btn-primary" type="submit">Add</button>
                <button  class="mx-2 btn btn-danger" routerLink="/dashboard/SupplierReturns">Cancel</button>
            </div>
        </form>
        <div class="col-6">
            <h5 class="ms-3 my-2">Store Products</h5>
            <div class="d-flex my-1">
                    <input (keyup.enter)="onSearch()" type="text" placeholder="Search" class="form-control form-control-sm" #search>
                    <button class="btn btn-sm mx-2" type="button" style="background-color: #958F8A; color: white;" (click)="onSearch()" >Search</button>
                    <button style="background-color: #958F8A; color: white;" type="button" (click)="onReset()" class="btn mx-2 btn-sm">Reset</button>
                    <select class="form-select mx-2 form-control-sm" style="max-width: 40px; min-width: none;"  (change)="onSortSelected($event)">
                        <option *ngFor="let sort of sortOptions" [value]="sort.value"> 
                            {{sort.name}}
                        </option>
                    </select>
            </div>
            <div class="table-responsive" *ngIf="products.length > 0">
                <table class="table table-hover">
                    <thead class="text-uppercase">
                        <tr>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td class="align-middle"><img src='{{product.pictureUrl}}' class="img-fluid bg-info" style="max-height: 50px;"></td>
                            <td class="align-middle"><strong>{{product.name}}</strong></td>
                            <td class="align-middle">
                                <button (click)="openModal(template)" type="button" class="btn btn-sm mx-1" style="background-color: #676767; color:white"><i class="fa fa-edit align-middle" style="cursor: pointer; color: white;"></i> Add </button>
                                <button routerLink="/dashboard/product-details/{{product.id}}" type="button" class="btn btn-sm mx-1" style="background-color: #676767; color:white"><i class="fa fa-edit align-middle" style="cursor: pointer; color: white;"></i> View </button>
                            </td>

                            <ng-template #template>
                                <div class="modal-header">
                                  <h4 class="modal-title pull-left">Quantity</h4>
                                  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Please select the quantity to be returned
                                        <app-text-input [label]="'Quantity'" [type]="'number'" [formControl]="Qunatity.controls['quantity']"></app-text-input>
                                    </p>
                                  <button type="button" class="btn btn-primary" [disabled]="Qunatity.invalid!" (click)="addProdToLog(product, Qunatity.value.quantity!)" >Add to List</button>
                                </div>
                              </ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end" *ngIf="totalCount > 0" >
                <app-pager [totalCount]="totalCount" [pageSize]="shopParams.pageSize" (pageChanged)="onPageChanged($event)"></app-pager>
                </div>
        </div>
    </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="max-width: 90%; height: 100vh;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left"> Help </h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://docs.google.com/document/d/1s4wAIvBhuZ0F4lbURlFzt9WxGDH2YSvi/preview#bookmark=id.9ablbeo2xy4k"
                style="width:100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
</div>