<div class="container mt-4">
    <h5 class="my-2">User Details <i class="fa fa-lg fa-question-circle-o " (mouseenter)="lgModal.show()"  aria-hidden="true"></i></h5>
    <form class="row" [formGroup]="userForm" (ngSubmit)="updateUser()">
        <div class="form-group col-6">
            <ng-container *ngIf="user != null">
                <img class="form-control mb-3 p-0" src='{{user.profilePicture}}' style="max-height: 150px; width: 150px; object-fit: cover;">
            </ng-container>
            <app-text-input [label]="'Display Name'" [formControl]="userForm.controls['displayName']"></app-text-input>
            <app-text-input [label]="'Email'" [formControl]="userForm.controls['email']"></app-text-input>
            <select class="form-select" (change)="onRoleSelected($event)" formControlName="roles">
                <option *ngFor="let role of roles" [value]="role.name">{{role.name}}</option>
            </select>
        </div>
        <ul class="text-danger list-unstyled" *ngIf="errors">
            <li *ngFor="let error of errors">
                {{error}}
            </li>
        </ul>
        <div>
            <button [disabled]="!userForm.valid" class="btn btn-primary" type="submit">Update</button>
            <button  class="mx-2 btn btn-danger" routerLink="/dashboard/user-list">Cancel</button>
        </div>
    </form>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="max-width: 90%; height: 100vh;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left"> Help </h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://docs.google.com/document/d/1cSuGqHKMcwBrrwI5vtctK0PQG7akV_Ss/preview#bookmark=id.g8xunqxyjct"
                style="width:100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
</div>
