<div class="container mt-4">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center pb-2">
            <app-paging-header [totalCount]="totalCount" [pageNumber]="reviewParams.pageNumber" [pageSize]="reviewParams.pageSize"></app-paging-header>
            <div class="d-flex mt-2 align-items-center">
                <i class="fa fa-2x fa-question-circle-o mx-4" (mouseenter)="lgModal.show()"  aria-hidden="true"></i>
                <input (keyup.enter)="onSearch()" type="text" placeholder="Search" class="form-control" #search>
                <button class="btn mx-2" style="background-color: #958F8A; color: white;" (click)="onSearch()" >Search</button>
                <button style="background-color: #958F8A; color: white;" (click)="onReset()" class="btn mx-2">Reset</button>
                <select class="form-select mx-2" style="max-width: 40px; min-width: none;"  (change)="onSortSelected($event)">
                    <option *ngFor="let sort of sortOptions" [value]="sort.value"> 
                        {{sort.name}}
                    </option>
                </select>
            </div>
        </div>
        <div *ngIf="reviews.length <= 0">
            <p> There are currently no reviews on the system </p>
        </div>
        <div class="table-responsive" *ngIf="reviews.length > 0">
            <table class="table">
                <thead class="text-uppercase">
                    <tr>
                        <th><div class="py-2">Date</div></th>
                        <th><div class="py-2">Title</div></th>
                        <th><div class="py-2">Email</div></th>
                        <th><div class="py-2">Product</div></th>
                        <th><div class="py-2">Rating</div></th>
                        <th><div class="py-2">Status</div></th>
                        <th><div class="py-2">View</div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let review of reviews">
                        <td class="align-middle"><strong>{{review.date | date}}</strong></td>
                        <td class="align-middle"><strong>{{review.title }}</strong></td>
                        <td class="align-middle"><strong>{{review.customerEmail}}</strong></td>
                        <td class="align-middle"><strong>{{review.product}}</strong></td>
                        <td class="align-middle"><strong>{{review.rating}}</strong></td>
                        <td class="align-middle"><strong>{{review.status}}</strong></td>

                        <td class="align-middle">
                            <button type="button" class="btn px-2 py-2" style="background-color: #676767;"><a style="text-decoration: none; color: white; font-weight:lighter;" routerLink="/dashboard/reviews/{{review.id}}"> <i class="fa fa-edit align-middle" style="font-size: 2em; cursor: pointer; color: white;"></i> View </a></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-end" *ngIf="totalCount > 0" >
        <app-pager [totalCount]="totalCount" [pageSize]="reviewParams.pageSize" (pageChanged)="onPageChanged($event)"></app-pager>
    </div>
</div>


<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="max-width: 90%; height: 100vh;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left"> Help </h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://docs.google.com/document/d/1cSuGqHKMcwBrrwI5vtctK0PQG7akV_Ss/preview#bookmark=id.ibxt1gttabbt"
                style="width:100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
</div>