<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Delivery Method</h4>
    </div>
    <div class="row" formGroupName="deliveryForm">
        <p style="color: red"> Note: Collection or Pay-and-go orders don't require a delivery method</p>
        <div class="col-6 form-group" *ngFor="let method of deliveryMethods">
            <input value="{{method.id}}"  formControlName="deliveryMethod"
            type="radio" class="form-check-input"
            (click)="setShippingPrice(method)">
            <label for="{{method.id}}" class="form-check-label ms-2 mb-3">
                <strong>{{method.name}} - {{ method.price | currency: "R"}}</strong>
                <br>
                <span class="label-description">{{method.description}}</span>
            </label>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between flex-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Address
    </button>
    <button [disabled]="checkoutForm?.get('deliveryForm')?.invalid" class="btn btn-primary" cdkStepperNext>
        Go to Confirm<i class="fa fa-angle-right"></i>
    </button>
</div>
