<h5 class="ms-3 my-2">Delivery Address<i class="fa fa-lg fa-question-circle-o " (mouseenter)="lgModal.show()"  aria-hidden="true"></i></h5>
<form class="row" [formGroup]="addressForm" (ngSubmit)="updateUsersAddress()">
    <div class="form-group col-6">
        <app-text-input [label]="'Street Address'" [formControl]="addressForm.controls['streetAddress']"></app-text-input>
        <app-text-input [label]="'Complex Name'" [formControl]="addressForm.controls['complexName']"></app-text-input>
        <app-text-input [label]="'Suburb'" [formControl]="addressForm.controls['suburb']"></app-text-input>
        <app-text-input [label]="'City'" [formControl]="addressForm.controls['city']"></app-text-input>
        <app-text-input [type]="'number'" [label]="'Postal Code'" [formControl]="addressForm.controls['postalCode']"></app-text-input>
        <label for="floatingInput">Province</label>
        <select class="form-select mb-4" (change)="onProvinceSelected($event)" formControlName="province">
            <option *ngFor="let province of provinceList" [value]="province.value"> 
                {{province.name}}
            </option>
        </select>
    </div>
    <div>
        <button [disabled]="!addressForm.valid" class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="max-width: 90%; height: 100vh;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left"> Help </h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://docs.google.com/document/d/1cSuGqHKMcwBrrwI5vtctK0PQG7akV_Ss/preview#bookmark=id.sjo9319v0ot0"
                style="width:100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
</div>