<div class="jumbotron">
    <img id="bannerimg" src="..\..\assets\images\Banner.jpg">
    <div class="centered"><h1 id="bannerhead">Beyond Corporate Purpose</h1></div>
  </div>
  
  
  <div id="subtitle" class="hidden">
    <p>100% of all proceeds are donated to Save The Elephants and Rhinos and supporting rural communities.</p>
  </div>
  
  
  
  <div id="homegrid">
    <div class="row justify-content-center">
      <div class="col-sm-2">
        <div class="thumbnails">
          <a routerLink="/shop"  routerLinkActive="active">
            <div class="overlays"><p class="thumbnailtext">GIFT BOX SETS</p></div>
            <img src="../../assets/images/giftbox.png" alt="gift box sets" style="width:100%">
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="thumbnails">
          <a routerLink="/shop" routerLinkActive="active">
            <div class="overlays"><p class="thumbnailtext">BATH & BODY</p></div>
            <img src="../../assets/images/bath.png"alt="Nature" style="width:100%">
          </a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-2">
        <div class="thumbnails">
          <a routerLink="/shop"  routerLinkActive="active">
            <div class="overlays"><p class="thumbnailtext">STATIONERY</p></div>
            <img src="../../assets/images/stationery.png" alt="gift box sets" style="width:100%">
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="thumbnails">
          <a routerLink="/shop" routerLinkActive="active">
            <div class="overlays"><p class="thumbnailtext">ACCESSORIES</p></div>
            <img src="../../assets/images/bag.png"alt="Nature" style="width:100%">
          </a>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div id="carousel">
    <carousel [isAnimated]="true" class="carousel">
        <slide>
            <img src="..\..\assets\images\1.png" alt="slide" style="display: block; width: 100%;">
          </slide>
        <slide>
            <img src="..\..\assets\images\2.png" alt="slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="..\..\assets\images\3.png" alt="slide" style="display: block; width: 100%;" alt="slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="..\..\assets\images\4.png" alt="slide" style="display: block; width: 100%;" alt="slide" style="display: block; width: 100%;">
      </slide>
    </carousel>
  </div>
  
  
  <div class="row justify-content-center" id="aboutERP">
      <div class="col-sm-8">
        <section class="article">
            <p class="lead">
                Elephants, Rhinos & People (ERP) was founded to preserve and protect Southern Africa’s wild elephants and rhinos through a strategy that is based on rural poverty alleviation. In order to accomplish its mission, ERP carefully selects projects based on their potential to create economic engines for impoverished rural communities in areas adjacent to threatened elephant and rhino populations. Armed with an Ashoka-accredited poverty alleviation model, and by having a multifaceted team positioned to tackle poverty, ERP is able to address the welfare of elephants and rhinos in an unusual but effective manner. ERP brings over 20 years of experience in community relations, poverty alleviation, and impact investment in infrastructure, so as to achieve sustainable, non-lethal wildlife conservation.
  
                Given that the poverty alleviation-based strategy is a medium to long-term proposition, ERP also implements a range of tactical interventions designed to combat the poaching problem, and to improve the welfare of elephants and rhinos in the short term.  These interventions include but are not limited to, elephant relocations, a veterinary emergency response unit and drought relief programs.
            </p>
      </section>
    </div>
  </div>