
<div class="container mt-4" style="margin-bottom: 100px;">
    <div class="row">
        <section class="col-3">
            <h5 class="ms-3 my-2">Account</h5>
            <ul class="list-group">
                <li class="list-group-item" (click)="onMenuItemClick(0)"> Personal Details </li>
                <li class="list-group-item" (click)="onMenuItemClick(1)"> Delivery Address </li>
                <li class="list-group-item" (click)="onMenuItemClick(2)"> Reset Password </li>
                <li class="list-group-item" (click)="onMenuItemClick(3)"> Orders </li>
                <li class="list-group-item" (click)="onMenuItemClick(4)"> Product Reviews </li>
                <li class="list-group-item" (click)="onMenuItemClick(5)"> FAQs </li>
                <li class="list-group-item text-danger" (click)="openModal(template)"> Delete Account </li> 
            </ul>
        </section>
        <section class="col-9" *ngIf="accountService.currentUser$ | async as user">
            <app-personal-details class="col-9" *ngIf="menuItemIndex === 0"></app-personal-details>
            <app-reset-password class="col-9" *ngIf="menuItemIndex === 2"></app-reset-password>
            <app-address-book class="col-9" *ngIf="menuItemIndex === 1"></app-address-book>
            <app-product-reviews class="col-9" *ngIf="menuItemIndex === 4"></app-product-reviews>
            <app-faqs class="col-9" *ngIf="menuItemIndex === 5"></app-faqs>
            <app-orders class="col-9" *ngIf="menuItemIndex === 3"></app-orders>
        </section>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete Account</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body text-danger">
        <p>
            Are you sure you want to delete your account? This action cannot be undone.
        </p>
      <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete Account</button>
    </div>
  </ng-template>



