<div class="container mt-4">
    <h5 class="ms-3 my-2">Product Review Details <i class="fa fa-lg fa-question-circle-o " (mouseenter)="lgModal.show()"  aria-hidden="true"></i></h5>
    <form class="row" [formGroup]="reviewForm">
        <div class="form-group col-6">
            <app-text-input [label]="'Title'" [formControl]="reviewForm.controls['title']"></app-text-input>
            <app-text-input [label]="'Description'" [formControl]="reviewForm.controls['description']"></app-text-input>
            <app-text-input [label]="'Email'" [formControl]="reviewForm.controls['customerEmail']"></app-text-input>
            <app-text-input [label]="'Product'" [formControl]="reviewForm.controls['product']"></app-text-input>
            <app-text-input [label]="'Date'"  [formControl]="reviewForm.controls['date']"></app-text-input>
            <app-text-input [label]="'Rating'" [type]="'number'" [formControl]="reviewForm.controls['rating']"></app-text-input>
            <app-text-input [label]="'Status'" [formControl]="reviewForm.controls['status']"></app-text-input>
        </div>
        <ul class="text-danger list-unstyled" *ngIf="errors">
            <li *ngFor="let error of errors">
                {{error}}
            </li>
        </ul>
        <div>
            <button (click)="FlagReview()" *ngIf="review?.status == 'Available'" [disabled]="reviewForm.invalid" class="btn btn-primary" type="submit">Flag Review</button>
            <button (click)="UnFlagReview()" *ngIf="review?.status == 'Flagged'" [disabled]="reviewForm.invalid" class="btn btn-primary" type="submit">UnFlag Review</button>
            <button  class="mx-2 btn btn-danger" routerLink="/dashboard/reviews">Cancel</button>
        </div>
    </form>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg" style="max-width: 90%; height: 100vh;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left"> Help </h4>
                <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 80vh">
                <iframe src="https://docs.google.com/document/d/1cSuGqHKMcwBrrwI5vtctK0PQG7akV_Ss/preview#bookmark=id.rfcwen3a0vga"
                style="width:100%; height:100%;"></iframe>
            </div>
        </div>
    </div>
</div>